<%# this is a finished landing page with search bar, still need to code in functionality for "non words"%>
Search for images by a single keyword (i.e. Nebula, Venus, Constellation)

<form action="/" method="POST">
    <label for="name">Keyword</label>
    <input name="name" type="text" id="name">
    <button type="submit" value="Update">Submit!</button>
</form>