will need to display each image as clickable to send user to individual image's page by id

<h2>Images</h2>
    <div>
        <a href="/spacepages/<%=images.id %>">
        <img src=<%= images.url %>>
        </a>
        <p>
            <%= images.comment %>
        </p>
    </div>

    <a href="/home/index">Return to Earth</a>